html, body {
    height: 100%;
    margin: 0;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main {
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.end {
    text-align: center;
    margin-top: auto;
    padding-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px; 
}

.image-container img {
    transition: all 0.3s ease;
    border-radius: 15px;
    width: 350px; 
}

.image-container img:hover {
    transform: scale(1.08) translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}